In [3]:
#Loading in appropriate packages
import numpy as np, matplotlib.pyplot as plt
import pandas as pd
import requests
import time
import json
from bs4 import BeautifulSoup
import sys
from scipy import stats
from sklearn.cross_validation import *

pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

%matplotlib inline

In [4]:

master = pd.read_csv('data/lahman/Master.csv')
all_batting = pd.read_csv('data/lahman/Batting.csv')
pitching = pd.read_csv('data/lahman/Pitching.csv')
smalldf = pd.read_csv('data/small.csv')

For details on the Lahman file columns, see "2.3: Pitching Table": http://seanlahman.com/files/database/readme2014.txt

pitcher_sums is just the "sums", so be sure to recalculate things like ERA and BAOpp that don't add linearly

In [5]:
master.head()

    playerID  birthYear  birthMonth  birthDay birthCountry birthState   birthCity  deathYear  deathMonth  deathDay deathCountry deathState deathCity nameFirst nameLast       nameGiven  weight  height bats throws      debut  finalGame   retroID    bbrefID
0  aardsda01       1981          12        27          USA         CO      Denver        NaN         NaN       NaN          NaN        NaN       NaN     David  Aardsma     David Allan     205      75    R      R   4/6/2004  9/28/2013  aardd001  aardsda01
1  aaronha01       1934           2         5          USA         AL      Mobile        NaN         NaN       NaN          NaN        NaN       NaN      Hank    Aaron     Henry Louis     180      72    R      R  4/13/1954  10/3/1976  aaroh101  aaronha01
2  aaronto01       1939           8         5          USA         AL      Mobile       1984           8        16          USA         GA   Atlanta    Tommie    Aaron      Tommie Lee     190      75    R      R  4/10/1962  9/26/1971  aarot101  aaronto01
3   aasedo01       1954           9         8          USA         CA      Orange        NaN         NaN       NaN          NaN        NaN       NaN       Don     Aase  Donald William     190      75    R      R  7/26/1977  10/3/1990  aased001   aasedo01
4   abadan01       1972           8        25          USA         FL  Palm Beach        NaN         NaN       NaN          NaN        NaN       NaN      Andy     Abad   Fausto Andres     184      73    L      L  9/10/2001  4/13/2006  abada001   abadan01

In [6]:
retro_to_lah = dict(zip(master['retroID'], master['playerID']))
retro_to_hand = dict(zip(master['retroID'], master['throws']))

In [7]:
pitcherIDs = smalldf['pID'].unique()#RetroIDs
L_pitcherIDs = [retro_to_lah[name] for name in pitcherIDs] #LahmanIDs

In [8]:
smalldf.head()

        bID       pID  AB  H  PA RL  SAC  SO  TB  W            matchID       AVG       OBP  ov_AB  ov_H  ov_PA  ov_SAC  ov_SO  ov_TB  ov_W    ov_AVG    ov_OBP  ov_FACED  ov_SO_PCT  ov_W_PCT  ov_H_PCT  ovp_AB  ovp_H  ovp_PA  ovp_SAC  ovp_SO  ovp_TB  ovp_W   ovp_AVG   ovp_OBP  ovp_FACED  ovp_SO_PCT  ovp_W_PCT  ovp_H_PCT
0  schic002  benea001   9  0   9  R    1   4   0  0  schic002_benea001  0.000000  0.000000    146    22    150      14     57     30     4  0.150685  0.173333        14       0.38  0.026667  0.146667    3046    827    3425       46     609    1713    379  0.271504  0.352117        136    0.177810   0.110657   0.241460
1  schic002  browk001  11  1  11  R    0   6   1  0  schic002_browk001  0.090909  0.090909    146    22    150      14     57     30     4  0.150685  0.173333        14       0.38  0.026667  0.146667    4582   1159    4989       47     892    1974    407  0.252946  0.313891        222    0.178793   0.081579   0.232311
2  schic002  fassj001  11  2  11  L    1   5   4  0  schic002_fassj001  0.181818  0.181818    146    22    150      14     57     30     4  0.150685  0.173333        14       0.38  0.026667  0.146667    3006    847    3357       40     582    1587    351  0.281770  0.356866        185    0.173369   0.104558   0.252309
3  schic002  glavt001  14  3  14  L    1   3   5  0  schic002_glavt001  0.214286  0.214286    146    22    150      14     57     30     4  0.150685  0.173333        14       0.38  0.026667  0.146667    7561   2115    8413      102     985    3852    852  0.279725  0.352668        280    0.117081   0.101272   0.251397
4  schic002  hampm001  16  2  16  L    1   6   2  0  schic002_hampm001  0.125000  0.125000    146    22    150      14     57     30     4  0.150685  0.173333        14       0.38  0.026667  0.146667    4782   1361    5339       53     666    2355    557  0.284609  0.359243        232    0.124742   0.104327   0.254917

In [9]:
grouped =  pitching.groupby('playerID').sum().reset_index()
mask = np.in1d(grouped.playerID, L_pitcherIDs)
pitcher_sums = grouped[mask]

In [10]:
pitcher_sums.ERA = 9.*(pitcher_sums.ER)/(pitcher_sums.IPouts / 3.)
pitcher_sums.BAOpp = (pitcher_sums.H + pitcher_sums.BB + pitcher_sums.IBB + pitcher_sums.HBP) / pitcher_sums.BFP
pitcher_sums['WiP'] = pitcher_sums.W/pitcher_sums.G #win percentage
pitcher_sums['IP'] = pitcher_sums.IPouts/3.
pitcher_sums.head()

//anaconda/lib/python2.7/site-packages/pandas/core/generic.py:2177: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     playerID  yearID  stint   W    L    G   GS  CG  SHO  SV  IPouts     H   ER   HR   BB   SO     BAOpp       ERA  IBB  WP  HBP  BK   BFP   GF    R  SH  SF  GIDP       WiP           IP
0   aardsda01   16069      8  15   17  298    0   0    0  69     919   271  144   35  169  305  0.352155  4.230686   19  11   15   1  1346  132  152  17  10   NaN  0.050336   306.333333
7   abbotji01   21932     12  87  108  263  254  31    6   0    5022  1779  791  154  620  888  0.341284  4.252688   30  53   32  11  7211    5  880 NaN NaN   NaN  0.330798  1674.000000
9   abbotpa01   23977     13  43   37  162  112   1    0   0    2162   682  394  101  393  496  0.349231  4.920444   17  37   21   0  3187   17  421   8  12   NaN  0.265432   720.666667
20  accarje01   20086     12  10   20  262    0   0    0  38     854   288  136   24  111  205  0.346972  4.299766   16  10    9   2  1222  115  143   5  13   NaN  0.038168   284.666667
21  aceveal01   14077      7  31   16  204   15   0    0  29    1141   333  162   48  129  282  0.310194  3.833479    6   5   28   6  1599   91  172   6  13     1  0.151961   380.333333

In [11]:
pitching.head()

    playerID  yearID  stint teamID lgID   W   L   G  GS  CG  SHO  SV  IPouts    H   ER  HR  BB  SO  BAOpp    ERA  IBB  WP  HBP  BK  BFP  GF    R  SH  SF  GIDP
0  bechtge01    1871      1    PH1  NaN   1   2   3   3   2    0   0      78   43   23   0  11   1    NaN   7.96  NaN NaN  NaN   0  NaN NaN   42 NaN NaN   NaN
1  brainas01    1871      1    WS3  NaN  12  15  30  30  30    0   0     792  361  132   4  37  13    NaN   4.50  NaN NaN  NaN   0  NaN NaN  292 NaN NaN   NaN
2  fergubo01    1871      1    NY2  NaN   0   0   1   0   0    0   0       3    8    3   0   0   0    NaN  27.00  NaN NaN  NaN   0  NaN NaN    9 NaN NaN   NaN
3  fishech01    1871      1    RC1  NaN   4  16  24  24  22    1   0     639  295  103   3  31  15    NaN   4.35  NaN NaN  NaN   0  NaN NaN  257 NaN NaN   NaN
4  fleetfr01    1871      1    NY2  NaN   0   1   1   1   1    0   0      27   20   10   0   3   0    NaN  10.00  NaN NaN  NaN   0  NaN NaN   21 NaN NaN   NaN

#Pitchers Similarity Formula

Start with a thousand and then subtract the following:

One point for each difference of 1 win.

One point for each difference of 2 losses.

One point for each difference of .002 in winning percentage (max 100 points).

One point for each difference of .02 in ERA (max 100 points).

One point for each difference of 10 games pitched.

One point for each difference of 20 starts.

One point for each difference of 20 complete games.

One point for each difference of 50 innings pitched.

One point for each difference of 50 hits allowed.

One point for each difference of 30 strikeouts.

One point for each difference of 10 walks.

One point for each difference of 5 shutouts.

One point for each difference of 3 saves.

If they throw with a different hand and are starters subtract 10, relievers 25. For relievers you halve the winning percentage penalty. For all pitchers, the winning percentage penalty can be no larger than 1.5 times the wins and losses penalty. Relievers are defined as more relief appearances than starts and less than 4.00 innings per appearance.

We plugged all this in to create the lists you see on the player pages. Note that a player must have 100 innings pitched or 500 at bats before being considered, and to be truly accurate you need to look at whole careers, but it is fun to speculate all the same.

In [29]:
##input is the smalldf rows corresponding to the 2 pitcher ids
def pitcher_sim(p1_matchups, p2_matchups, n_common=0):
    p1name=list(p1_matchups['pID'][:1])[0]  #getting the IDs for both pitchers
    p2name=list(p2_matchups['pID'][:1])[0]
    dfhands=pd.DataFrame({'RL':[list(p1_matchups['RL'][:1])[0],list(p2_matchups['RL'][:1])[0]]}) #retrieving handedness from  smalldf
    listed= [p1name,p2name]
    two_pitcherIDs= [retro_to_lah[name] for name in listed] #getting the lahman ids for the 2 pitcher ids to use in Pitching Dataframe

    grouped2 =  pitching.groupby('playerID').sum().reset_index() #getting the summed data for each unique playerID
    mask2 = np.in1d(grouped2.playerID, two_pitcherIDs) #creating a mask for the 2 pitcher IDs needed
    pitchers=grouped2[mask2].reset_index() #resetting the index to 0,1 to make concatenating dataframes easier
    pitchers.ERA = 9.*(pitchers.ER)/(pitchers.IPouts / 3.) #generating ERA 
    pitchers.BAOpp = (pitchers.H + pitchers.BB + pitchers.IBB + pitchers.HBP) / pitchers.BFP #batting average against
    pitchers['WiP'] = pitchers.W/pitchers.G #win percentage
    pitchers['IP'] = pitchers.IPouts/3. #innings pitched
    
    #determining whether a pitcher is a relief pitcher based on whether more games started than not 
    #and less than 4 innings pitched per game
    pitchers['Games']=pitchers['GS']-pitchers['G']/2. #if positive, more games started than games in relief
    pitchers['inningsper']=pitchers['IP']/pitchers['G'] #innings per game 
    relief=[]
    for i in pitchers.iterrows():
        if i[1]['Games']<0. and i[1]['inningsper']<4.:
            relief.append(1.)
        else:
            relief.append(0.)
    dfrel=pd.DataFrame({'REL':relief})
    
    #adding handedness and whether a pitcher is a relief pitcher to the dataframe 
    final=pitchers.join([dfhands,dfrel], how='outer')
    
    #getting the 2 rows from the final dataframe to perform calculations 
    p1=final[final.playerID==two_pitcherIDs[0]]
    p2=final[final.playerID==two_pitcherIDs[1]]
    
    
    #Wins and Losses Penalties
    win_diff=np.abs(int(p1['W'])-int(p2['W'])) #1 pt for each win
    loss_diff=np.abs(int(p1['L'])-int(p2['L']))/2. #1 pt each 2 losses
    
    #Winning Percentage Penalty
    if int(p1['REL'])==1:     #winning percentage is halved for relief pitchers
        p1['WiP']=p1['WiP']/2.
    if int(p2['REL'])==1:
        p2['WiP']=p2['WiP']/2.
    wip_diff=np.abs(float(p1['WiP'])-float(p2['WiP']))/.002 #1 pt diff of winning percentage of 0.002 
    if wip_diff > 1.5*(win_diff+loss_diff): #winning percentage cannot be more than 1.5 times the penalties for win/loss differences 
        wip_diff= 1.5*(win_diff+loss_diff)
    if wip_diff >100: #penalty for winning percentage has a max= 100
        wip_diff=100   
    era_diff=np.abs(float(p1['ERA'])-float(p2['ERA']))/0.02 #1 pt diff of ERA of 0.02
    if era_diff >100:
        era_diff=100 #max =100
    
    #Handedness Penalties conditional on both pitchers being relief pitchers or not 
    if list(p1['RL'])[0]!=list(p2['RL'])[0] and int(p1['REL'])==0 and int(p2['REL'])==0: #handedness is different, relief pitchers
        hand_diff=10. 
    elif list(p1['RL'])[0]!=list(p2['RL'])[0] and int(p1['REL'])==1 and int(p2['REL'])==1.: #handedness is different, starters
        hand_diff=25.  
    else:
        hand_diff=0.
    
    #Additional Penalties
    gp_diff=np.abs(int(p1['G'])-int(p2['G']))/10. #1 pt for diff of 10 games played
    st_diff=np.abs(int(p1['GS'])-int(p2['GS']))/20. #1 pt for diff of 20 games started
    cg_diff=np.abs(int(p1['CG'])-int(p2['CG']))/20. #1 pt for diff of 20 games completed
    ip_diff=np.abs(float(p1['IP'])-float(p2['IP']))/50. #1 pt for diff of 50 innings pitched
    h_diff=np.abs(int(p1['H'])-int(p2['H']))/50. #1 pt for diff of 50 hits allowed
    sp_diff=np.abs(int(p1['SO'])-int(p2['SO']))/30. #1 pt for diff of 30 strikeouts
    bb_diff=np.abs(int(p1['BB'])-int(p2['BB']))/50. #1 pt for diff of 10 walks
    sho_diff=np.abs(int(p1['SHO'])-int(p2['SHO']))/5. #1 pt for diff of 5 shutouts
    sv_diff=np.abs(int(p1['SV'])-int(p2['SV']))/3. #1 pt for diff of 3 saves
    

    score=1000 #generating starting score and subtracting penalties
    final_score=score-(win_diff+loss_diff+wip_diff+era_diff+gp_diff+st_diff+cg_diff+
                       ip_diff+h_diff+sp_diff+bb_diff+sho_diff+sv_diff+hand_diff)
    #print final_score

    return final_score

In [30]:
pitcher_sim(smalldf[smalldf.pID=='benea001'],smalldf[smalldf.pID=='browk001'])

822.14444153666204